<h1><b> Modify Expense from </b><i>{{ expenses[id].merchant }}</i></h1>
<p>This expense was paid by <strong>{{ expenses[id].payer }}</strong>. You should notify them before making any changes.
<p class="edit-submitted-message"> 
	{{message}} <br>
</p>
<div class="col" fxLayout="row wrap">
<form  [formGroup]="expenseForm" (ngSubmit)="submitEdit()">

				<div>
					 <strong>  Merchant: </strong>
					<mat-form-field>
						<input matInput formControlName="merchant">
					</mat-form-field>
				</div>
				
				<div> 	 
					<strong> Amount:</strong>
				<mat-form-field>
				<input matInput formControlName="amount" ngxCurrencyInput required>
				</mat-form-field>
			</div>
			
				<div>
					<strong>  Date:  </strong>
					<mat-form-field>
					<input [max]="maxDate" fxFlex formControlName="dop" matInput [matDatepicker]="picker">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div> 

		</form>
</div>

<button id="one" mat-raised-button [routerLink]="['/expenses']" color="accent">Return</button>	 
<button id="two" type="submit" mat-raised-button>Update</button>
