<section>
<mat-sidenav-container hasBackdrop="true">

	<mat-sidenav #snav mode="'over'" [fixedInViewport]="true">
		<!--MENU ITEMS ==================================-->
		<mat-nav-list>
			<mat-list-item routerLink="/dashboard" (click)="close()">
				<mat-icon matListIcon>dashboard</mat-icon>
				Home 
			</mat-list-item>
			<mat-list-item routerLink="/addexpense" (click)="close()">
				<mat-icon matListIcon>attach_money</mat-icon>
				Add Expense
			</mat-list-item>
			<mat-list-item routerLink="/expenses" (click)="close()">
				<mat-icon matListIcon>search</mat-icon>
				View Expenses
			</mat-list-item>
			<mat-list-item routerLink="/reconcileexpenses" (click)="close()">
				<mat-icon matListIcon>people</mat-icon>
				Reconcile Expenses
			</mat-list-item>
			<mat-list-item routerLink="/reports" (click)="close()">
				<mat-icon matListIcon>list_alt</mat-icon>
				Reports
			</mat-list-item>

		</mat-nav-list>

	</mat-sidenav>


	<mat-sidenav-content>
		<!-- ROUTER -->
		<router-outlet>
      <!----------CONTENT----------->
    </router-outlet>
		<!-- end router -->
	</mat-sidenav-content>

</mat-sidenav-container>


	<!----------HEADER/TOP MENU BAR----------->
		<mat-toolbar color="accent" class="topBar">
			<div fxHide.gt-xs>
				<button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
			</div>
			<div fxFlex> </div>
			<div fxFlex>SimpleShare
			</div>
			<div fxFlex > </div>
			<div fxHide.xs >
			</div>
		</mat-toolbar>
		<!-- end top nav bar-->



	<!---------FOOTER------------->
		<mat-toolbar color="primary" class="footer">
			<div class="footerMenu">
Made By Joel Tonuri
			</div>
		</mat-toolbar>
	<!---------END OF FOOTER------------->

    <section>