/* error message style */
.errorMessage{
  background-color: brown;
    margin: 5px 5px 5px 5px ;
    color:white;
 }

 #error{
   color: red;
   font-weight: bolder;
 }
 /* input fields */
 .mat-form-field{
   width:80%;
 }

/* text spacing adjusments */
 h1 {
  line-height: 0px;
}

button { /* specifies button position */
  width: 20%;
  margin-top: 10%;
  margin-left: 65%;
}
h1,h2,h5{
    display: block;
    text-align: center;
    margin-right: 50;
}

p {
  text-align: center;
}
#entry {
  margin-right: -40px;
  margin-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table th {
  font-weight: bold;
}

table th, table td {
  border: 1px solid black;
  padding: 8px;
}