<script type="module" src="addexpense.component.ts"></script>
<h1> New Expense </h1>
<h5> Required fields are denoted with an asterisk (*)</h5>
	<div id="error"> {{errorMessage}} </div>
	<form [formGroup]="addexpenseForm" (ngSubmit)="submit()">

 {{formDataSubmittedtMessage}}
 

			<div id="entry" fxFlex fxLayout="row wrap" fxLayoutGap="20px">

				<mat-form-field> 
					<input matInput placeholder="Paid to" formControlName="merchant" required> 
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="Description" formControlName="description"/> 
				</mat-form-field>
				<mat-form-field>

				<input matInput placeholder="Amount" formControlName="amount"  ngxCurrencyInput [(ngModel)]="value" required/> 
				</mat-form-field>

				<mat-form-field>
				<input required fxFlex formControlName="dop" matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Date"> 
				<mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>


				<mat-form-field>
				<mat-label>Who paid this expense?</mat-label>
				<mat-select formControlName="payer" required>
					<mat-option *ngFor="let payer of tenants" [value]="payer">{{payer}} </mat-option>
				</mat-select>
			</mat-form-field>
		
			<mat-form-field>
			<mat-chip-list #chipList>
				<mat-chip
					*ngFor="let category of allCategories"
					[removable]="true"
					(removed)="removeCategory(category)">
					{{category}}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>

				<input matInput
					placeholder="Select or enter a category"
					[formControl]="categoryCtrl"
					[matAutocomplete]="auto"
					[matChipInputFor]="chipList"
					[matChipInputSeparatorKeyCodes]="[32, 188]"
					(matChipInputTokenEnd)="addCategory($event)">
			</mat-chip-list>

			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
				<mat-option *ngFor="let category of predefinedCategories" [value]="category">
					{{category}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
								<div fxFlex class="register-but">
				<button   mat-raised-button>Add</button>
			</div>

			</div>
			
	</form>