/* error message style */
 .errorMessage{
  background-color: brown;
    margin: 5px 5px 5px 5px ;
    color:white;
 }

 #error{
   color: red;
   font-weight: bolder;
 }
 /* input fields */
 .mat-form-field{
   width:80%;
 }

/* text spacing adjusments */
 h1 {
  line-height: 0px;
}

button { /* specifies button position */
  width: 20%;
  margin-top: 10%;
  margin-left: 65%;
  background-color: #EF767A;

}
h1,h5{
    display: block;
    text-align: center;
    margin-right: 50;
}

#entry {
  margin-right: -40px;
  margin-left: 20px;
}

