/* This project uses one of Angular's pre-built themes */
@import '~@angular/material/prebuilt-themes/purple-green.css';


html, body{
    font-family: 'Helvetica';
    height:100%;
}
body{
    margin: 0;
}