.box {
    padding: 10px;
    margin:2px;
    width:50%;
    vertical-align: middle;

}

a:link {
  color: coral;
}

/* text alignment adjusments */
h2{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

footer{
    font-size: 10px;
    line-height: 1;
}

/* text spacing adjusments */
h1 {
    line-height: 0px;
    text-align: center;
    font-size: 30px;
}

/* link prevously visited colour */
a:visited {
    color: red;
}

/* link hover reaction */
a:hover {
    color: hotpink;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  table th {
    font-weight: bold;
  }
  
  table th, table td {
    border: 1px solid black;
    padding: 8px;
  }