<section class="container"> 
  <h1>Warning<mat-icon matListIcon>warning</mat-icon><mat-icon matListIcon>warning</mat-icon><mat-icon matListIcon>warning</mat-icon></h1>
<p>Are you sure you want to delete this expense from <b>{{this.expense[data].merchant}}</b>? It was paid by <b>{{expense[data].payer}}</b> on <b>{{expense[data].dop | date: 'dd/MM/yyyy'}}</b></p>
<small>Careful! This cannot be undone</small>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="close()">Cancel</button>         <!--Dismiss Button--> 
      <button mat-raised-button color="warn"  (click)="delete(id);refresh()" >Delete</button >  <!-- Confirm Delete Button--> 
    </mat-dialog-actions>
</section>